@import "tailwindcss";

@theme {
  --font-sans: 'Inter', sans-serif;
  --color-accent: #1a202c;
  --color-accent-light: #2d3748;
}

@layer base {
  body {
    font-family: var(--font-sans);
    @apply antialiased text-gray-900 bg-white;
  }
}
